fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
pydantic
passlib[bcrypt]
python-jose
apscheduler
redis
asyncpg
numpy
face_recognition
python-multipart
pydantic-settings
prometheus_client
sentry-sdk
alembic
flake8
pytest
